@import "../public/style.scss";
@import "../public/variables/base.scss";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Commissioner', sans-serif;
}

html, body {
  font-size: $base-font-size;
}

a{
  text-decoration: none;
  color:inherit;
}


.innerWidth{
  max-width: $innerWidth;
  margin: auto;
  @media screen and (max-width:$desktop_width) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.card{
  background-color: #fff;
  max-width: $innerSmallWidth;
  width: 100%;
  margin: 25px auto;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgb(228, 228, 228);
}