
@import "../../public/style.scss";


.card{
    background-color: #fff;
    max-width: $innerSmallWidth;
    width: 100%;
    margin: 25px auto;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
}


#First-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    // @media (min-width: $desktop_width) {

    // }

.logo-craft{

    position: absolute;
    top: -23px;
    left: 0;
    right: 0;
    margin: auto;

    @media (min-width: $desktop_width) {

        position: absolute;
        top: -23px;

    }

}

.BigTitle {

    font-size: 1.5em;
    text-align: center;
    margin-top: 2.5em;

}

.SimpText {

    color : rgb(129, 129, 129);
    font-size: 1.1em;
    text-align: center;
    margin-top: 1em;
}

.Button-container{

    display: flex;

}

}
